{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Elemynts RPG</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="styles.css" />
	</head>
  <body>
	  {% include 'navbar.html' %}
	  <img class="main-image-top" src="static/OIP.jpg" alt="elements" />
	  <div class="main-section">
		  <div class="main-section-left">
		  	<img class="main-image-section" src="static/OIP.jpg" alt="elements" />
		  </div>
		  <div class="main-section-right">
			  <h3 class="main-section-header">Elements</h3>
			  <p class="main-section-desc">10 elements to choose from in this open-world, dystopian RPG. Countless spells and skills perfect for any character. What path will you choose?</p>
			  <a href="">See More</a>
		  </div>
	  </div>
	  <div class="main-section">
		  <div class="main-section-left">
			  <h3 class="main-section=header">Weapons</h3>
			  <p class="main-section-desc">Entrust in the arsenal to provide you with your hero's greatest tool. Chop, shoot, and hammer your way through the land of Sousaku with your trusty companion.</p>
			  <a href="">See More</a>
		  </div>
		  <div class="main-section-right">
			  <img class="main-image-section" src="static/OIP.jpg" alt="elements" />
		  </div>
	  </div>
	  <div class="main-section">
		  <div class="main-section-left">
			  <h3 class="main-section=header">Races</h3>
			  <p class="main-section-desc">Many creatures walk the lands of Sousaku, but very few choose to walk the path of heroes. Embark on your journey to uncover the hidden truths hidden in this RPG world.</p>
			  <a href="">See More</a>
		  </div>
		  <div class="main-section-right">
			  <img class="main-image-section" src="static/OIP.jpg" alt="elements" />
		  </div>
	  </div>
	  <div class="main-section">
		  <div class="main-section-back">
		  	<img class="main-image-section" src="static/OIP.jpg" alt="elements" />
		  </div>
		  <div class="main-section-front">
			  <h3 class="main-section-header">Regions</h3>
			  <p class="main-section-desc">Sousaku, a land of wonders, divided by the magical force of the elements itself. Each terrain unique with its own creatures and environments.</p>
			  <a href="">See More</a>
		  </div>
	  </div>
	  <div class="main-section">
		  <div class="main-section-back">
		  	<img class="main-image-section" src="static/OIP.jpg" alt="elements" />
		  </div>
		  <div class="main-section-front-bottom">
			  <h3 class="main-section-header">Game Masters</h3>
			  <p class="main-section-desc">No one rules the lands of Sousaku better than the game masters. Insanely strong individuals guide each region in their path to peace.</p>
			  <a href="">See More</a>
		  </div>
	  </div>
	  <div class="main-section">
		  <div class="main-section-left">
		  	<img class="main-image-section" src="static/OIP.jpg" alt="elements" />
		  </div>
		  <div class="main-section-right">
			  <h3 class="main-section-header">Elemynts RPG Discord</h3>
			  <p class="main-section-desc">Join the thousands of adventurers within Sousaku to team up and slay enemies together.</p>
			  <a href="">See More</a>
		  </div>
	  </div>
	  <div class="main-section">
		  <div class="main-section-left">
		  	<img class="main-image-section" src="static/OIP.jpg" alt="elements" />
		  </div>
		  <div class="main-section-right">
			  <h3 class="main-section-header">Sousaku Studios Social Media</h3>
			  <p class="main-section-desc">Stay up to date with Elemynts RPG news on any of our social media profiles. Follow us below!</p>
			  <a href="">Instagram Link</a>
			  <a href="">Twitter Link</a>
			  <a href="">Tiktok Link</a>
		  </div>
	  </div>
	  {% include 'footer.html' %}
  </body>
</html>
