{% load static %}
<nav class="navbar">
  <img src="static/elements.jfif" class="navbar-image" alt="elements"/>
  <div class="dropdown">
    <p class="dropdown-name">Game Info</p>
    <div class="dropdown-content">
      <p class="dropdown-item">Elements</p>
      <p class="dropdown-item">Weapons</p>
      <p class="dropdown-item">Races</p>
      <p class="dropdown-item">Regions</p>
      <p class="dropdown-item">Game Masters</p>
    </div>
  </div>
  <div class="dropdown">
    <p class="dropdown-name">Community</p>
    <div class="dropdown-content">
      <p class="dropdown-item">Elemynts RPG Discord Bot</p>
      <p class="dropdown-item">Elemynts RPG Public Discord</p>
      <p class="dropdown-item">Instagram Link goes here</p>
      <p class="dropdown-item">Twitter Link goes here</p>
      <p class="dropdown-item">Tiktok Link goes here</p>
    </div>
  </div>
  <div class="dropdown">
    <p class="dropdown-name">Support</p>
    <div class="dropdown-content">
      <p class="dropdown-item">Terms of Service</p>
      <p class="dropdown-item">FAQs</p>
      <p class="dropdown-item">Help</p>
    </div>
  </div>
  <a href="download.html" class="navbar-download">Download</a>
  <!--If user is signed in, shows user profile instead of login/signup -->
  <a href="login/signup.html" class="navbar-login">Login/Signup</a>
</nav>
